





<tbody>
    {% for row in data %}
    <tr>
        {% for cell in row %}
            {% if loop.index0 == 7 %} <!-- Índice de la columna "Fecha y Hora de Entrega (estado)" -->
                <td>{{ cell if cell is not none and cell != 'NULL' else 'No entregado' }}</td>
            {% elif loop.index0 == 8 %} <!-- Índice de la columna "Cumplimiento" -->
                <td>{{ cell if cell is not none and cell != '' else 'Pendiente' }}</td>
            {% else %}
                <td>{{ cell }}</td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</tbody>