<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Check Service Cargo</title>
    <link rel="stylesheet" href="/static/css/pagina.css">
    <script src="https://kit.fontawesome.com/325f4c844a.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Header común con fecha y hora -->
    <header style="display: flex; justify-content: space-between; padding: 10px; background-color: #f0f0f0;">
        <h2>Check Service Cargo</h2>
        <div id="fecha-hora-sistema" style="font-size: 14px; color: #666;">
            <!-- La fecha y hora se mostrarán aquí -->
        </div>
    </header>

    <!-- Contenido específico de cada página -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <script>
        // Función para obtener la fecha y hora actuales en formato 'YYYY-MM-DD HH:MM:SS'
        function actualizarFechaHora() {
            const now = new Date();
            const year = now.getFullYear();
            const month = String(now.getMonth() + 1).padStart(2, '0');
            const day = String(now.getDate()).padStart(2, '0');
            const hours = String(now.getHours()).padStart(2, '0');
            const minutes = String(now.getMinutes()).padStart(2, '0');
            const seconds = String(now.getSeconds()).padStart(2, '0');
            const fechaHoraActual = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
            
            // Mostrar la fecha y hora en el contenedor
            document.getElementById('fecha-hora-sistema').textContent = `Fecha y Hora del Sistema: ${fechaHoraActual}`;
        }

        // Actualizar la fecha y hora cada segundo
        setInterval(actualizarFechaHora, 1000);

        // Llamar a la función inmediatamente para mostrar la fecha y hora desde el inicio
        actualizarFechaHora();
    </script>
</body>
</html>
