<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Check Service Cargo</title>
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <script src="https://kit.fontawesome.com/325f4c844a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pagina.css') }}">
    <!-- Importando ApexCharts -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <!-- Importando Google Maps API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAg-pHzpWI9Ik34rYvyPZYGU9s2aWWtFx4&libraries=visualization"></script>
    <style>
        .charts-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr); /* Dos gráficos por fila */
            gap: 20px;
            margin-top: 20px;
        }
        .chart-box {
            background-color: #f9f9f9;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 500px;
        }
        
        /* Título del gráfico */
        .chart-title {
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 20px;
            color: #333;
        }
        
        /* Contenedor del gráfico */
        .chart-container {
            padding: 10px;
            border-radius: 8px;
            background-color: #fff;
            border: 1px solid #ddd;
            height: 100%; /* Hace que el gráfico ocupe todo el espacio disponible */
        }
        
        /* Responsividad para pantallas más pequeñas */
        @media (max-width: 600px) {
            .charts-container {
                grid-template-columns: 1fr; /* Un gráfico por fila en pantallas pequeñas */
            }
        
            .chart-box {
                max-width: 100%;
                padding: 15px;
            }
        
            .chart-title {
                font-size: 20px;
            }
        
            .info-guias-box p {
                font-size: 16px;
            }
        }
        
    </style>
</head>

<body>
    <input type="checkbox" id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2><span class="fa-solid fa-truck"></span><span>Check Service Cargo</span></h2>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="" class="active"><span class="fa-solid fa-table-columns"></span>
                        <span> DASHBOARD </span></a>
                </li>
                <li class=""><a class="fa-solid fa-id-card" href="{{ url_for('cargo')}}">Cargo</a></li>
                <li class=""><a class="fa-solid fa-folder-open" href="/static/html/manifiesto.html">Manifiesto</a></li>
                <li class=""><a class="fa-solid fa-users" href="{{ url_for('roles')}}">Roles</a></li>
                <li class=""><a class="fa-solid fa-file" href="{{ url_for('tipoDocumento')}}">Tipo Documento</a></li>
                <li class=""><a class="fa-solid fa-truck" href="{{ url_for('vehiculo')}}">Vehiculo</a></li>
                <li class=""><a class="fa-solid fa-user" href="{{ url_for('usuario')}}">Usuario</a></li>
            </ul>
        </div>
    </div>

    <div class="main-content">
        <header>
            <h2>
                <label for="nav-toggle">
                    <span class="fa-solid fa-bars"></span>
                </label>
                PÁGINA PRINCIPAL
            </h2>
            <a href="/" class="btn-exit">EXIT</a>
        </header>

        <main>
            <!-- Filtro de fecha -->
            <div class="filter-container">
                <label for="fecha-inicio-input">Fecha de inicio:</label>
                <input type="date" id="fecha-inicio-input">
                <label for="fecha-fin-input">Fecha de fin:</label>
                <input type="date" id="fecha-fin-input">
                <button id="btn-actualizar-fechas">Actualizar Reportes</button>
            </div>
            
            <!-- Contenedor para los gráficos -->
            <div class="charts-container">
                <!-- Gráfico de Distritos -->
                <div class="chart-box">
                    <div class="chart-title">Reporte Manifiestos por Distrito</div>
                    <div id="chart-distritos" class="chart-container"></div>
                </div>

                <!-- Gráfico de Clientes -->
                <div class="chart-box">
                    <div class="chart-title">Reporte Manifiestos por Cliente</div>
                    <div id="chart-clientes" class="chart-container"></div>
                </div>

                <!-- Gráfico de Clientes por Distrito -->
                <div class="chart-box">
                    <div class="chart-title">Reporte Clientes por Distrito</div>
                    <div id="chart-clientes-distritos" class="chart-container"></div>
                </div>

                <div class="chart-box">
                    <div class="chart-title">Reporte de Items Faltantes y Entregados</div>
                    <!-- Contenedor para mostrar las guías, entregadas y faltantes -->
                    <div id="info-guias" class="info-guias-box">
                        <p><strong>Total de Guías:</strong> <span id="total-guias" class="info-number"></span></p>
                        <p><strong>Faltantes:</strong> <span id="faltantes-guias" class="info-number"></span></p>
                        <p><strong>Entregados:</strong> <span id="entregadas-guias" class="info-number"></span></p>
                    </div>
                    <!-- Contenedor para el gráfico -->
                    <div id="chart-faltantes-entregado" class="chart-container"></div>
                </div>

                <div class="chart-box">
                    <div class="chart-title">Reporte 5</div>
                    <div id="chart-reporte-5" class="chart-container"></div>
                </div>

                <div class="chart-box">
                    <div class="chart-title">Reporte 6</div>
                    <div id="chart-reporte-6" class="chart-container"></div>
                </div>
                
            </div>
        </main>
    </div>

    
    {% block contenido %} {% endblock %}

    <script>
        // Función para obtener la fecha seleccionada y actualizar los gráficos
        function actualizarReportes() {
            const fechaInicio = document.getElementById("fecha-inicio-input").value;
            const fechaFin = document.getElementById("fecha-fin-input").value;

            let urlParams = '';
            if (fechaInicio && fechaFin) {
                urlParams = `?fecha_inicio=${fechaInicio}&fecha_fin=${fechaFin}`;
            }

        // Gráfico de Distritos
        fetch(`/reporte_distritos${urlParams}`)
            .then(response => response.json())
            .then(data => {
                console.log("Datos recibidos del servidor:", data);  // Imprimir los datos en la consola

                // Destruir el gráfico anterior si ya existe
                if (window.chartDistritos) {
                    window.chartDistritos.destroy();
                }

                // Asegurarse de que los datos sean válidos y no estén vacíos
                if (data.distritos.length === 0 || data.cantidades.length === 0) {
                    console.error("No hay datos suficientes para generar el gráfico.");
                    return;
                }

                // Configurar los datos del gráfico
                var optionsDistritos = {
                    chart: {
                        type: 'bar'
                    },
                    series: [{
                        name: 'Manifiestos',
                        data: data.cantidades // Cantidades obtenidas de la base de datos
                    }],
                    xaxis: {
                        categories: data.distritos // Distritos obtenidos de la base de datos
                    }
                };

                // Renderizar el gráfico
                window.chartDistritos = new ApexCharts(document.querySelector("#chart-distritos"), optionsDistritos);
                window.chartDistritos.render();
            })
            .catch(error => console.error("Error en la solicitud de datos:", error));
        // Gráfico de Clientes
        fetch(`/reporte_clientes${urlParams}`)
            .then(response => response.json())
            .then(data => {
                console.log("Datos recibidos del servidor (clientes):", data);  // Depuración

                // Asegurarse de que los datos sean válidos y no estén vacíos
                if (data.clientes.length === 0 || data.cantidades.length === 0) {
                    console.error("No hay datos suficientes para generar el gráfico de clientes.");
                    return;
                }

                // Configurar los datos del gráfico
                var optionsClientes = {
                    chart: {
                        type: 'pie'
                    },
                    series: data.cantidades,  // Cantidades de manifiestos por cliente
                    labels: data.clientes,  // Nombres de los clientes
                    responsive: [{
                        breakpoint: 480,
                        options: {
                            chart: {
                                width: 200
                            },
                            legend: {
                                position: 'bottom'
                            }
                        }
                    }]
                };

                // Renderizar el gráfico
                var chartClientes = new ApexCharts(document.querySelector("#chart-clientes"), optionsClientes);
                chartClientes.render();
            })
            .catch(error => console.error("Error en la solicitud de datos:", error));
        // Gráfico de Barras Apiladas para Clientes por Distrito
        fetch(`/reporte_clientes_distritos${urlParams}`)
            .then(response => response.json())
            .then(data => {
                console.log("Datos recibidos del servidor (clientes por distritos):", data);  // Depuración

                // Procesar los datos
                const distritos = [...new Set(data.clientes_distritos.map(item => item.distrito))];
                const clientes = [...new Set(data.clientes_distritos.map(item => item.cliente))];

                // Inicializar series vacías para cada cliente
                const series = clientes.map(cliente => ({
                    name: cliente,
                    data: distritos.map(distrito => {
                        const item = data.clientes_distritos.find(i => i.distrito === distrito && i.cliente === cliente);
                        return item ? item.cantidad : 0;
                    })
                }));

                var optionsClientesDistritos = {
                    chart: {
                        type: 'bar',
                        stacked: true
                    },
                    series: series,
                    xaxis: {
                        categories: distritos
                    },
                    yaxis: {
                        title: {
                            text: 'Número de Manifiestos'
                        }
                    },
                    legend: {
                        position: 'top'
                    }
                };

                // Destruir el gráfico anterior si ya existe
                if (window.chartClientesDistritos) {
                    window.chartClientesDistritos.destroy();
                }

                // Renderizar el gráfico
                window.chartClientesDistritos = new ApexCharts(document.querySelector("#chart-clientes-distritos"), optionsClientesDistritos);
                window.chartClientesDistritos.render();
            })
            .catch(error => console.error("Error en la solicitud de datos:", error));
        // Gráfico circular para el porcentaje fatltantes
            fetch(`/reporte_porcentaje_faltantes${urlParams}`)
                .then(response => response.json())
                .then(data => {
                    // Total de items para calcular el porcentaje
                    const total = data.cantidades.reduce((acc, val) => acc + val, 0);
                    // Calcular porcentajes y redondear a dos decimales
                    const porcentajes = data.cantidades.map(cantidad => parseFloat(((cantidad / total) * 100).toFixed(2)));

                    // Asumimos que 'data.estados' tiene las etiquetas en orden: 'Faltantes' primero, 'Entregados' después
                    const faltantes = data.cantidades[0];
                    const entregados = data.cantidades[1];

                    // Mostrar los totales en los elementos HTML
                    document.getElementById("total-guias").innerText = total;
                    document.getElementById("faltantes-guias").innerText = entregados;
                    document.getElementById("entregadas-guias").innerText = faltantes;

                    // Configurar el gráfico de ApexCharts
                    var optionsFaltantesEntregados = {
                        chart: {
                            type: 'pie',  // Tipo de gráfico pie
                        },
                        series: porcentajes,  // Datos de porcentaje como números
                        labels: data.estados,  // Etiquetas 'Faltantes' y 'Entregados'
                        title: {
                            text: 'Porcentaje de Items Faltantes vs Entregados'
                        },
                        plotOptions: {
                            pie: {
                                donut: {
                                    size: '75%',
                                }
                            }
                        },
                        responsive: [{
                            breakpoint: 480,
                            options: {
                                chart: {
                                    width: 200
                                },
                                legend: {
                                    position: 'bottom'
                                }
                            }
                        }]
                    };

                    var chartFaltantesEntregados = new ApexCharts(document.querySelector("#chart-faltantes-entregado"), optionsFaltantesEntregados);
                    chartFaltantesEntregados.render();
            });
        }
        window.onload = function() {
            actualizarReportes();  // Cargar el dashboard con datos completos
        }
        document.getElementById("btn-actualizar-fechas").addEventListener("click", actualizarReportes);
    </script>
</body>
</html>