<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Check Service Cargo</title>
  <link rel="stylesheet" href="/static/css/pagina.css"> <!-- Ruta relativa al archivo CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
  <link rel="stylesheet"
    href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
  <script src="https://kit.fontawesome.com/325f4c844a.js" crossorigin="anonymous"></script>
</head>

<body>
  <input type="checkbox" id="nav-toggle">
  <div class="sidebar">
    <div class="sidebar-brand">
      <h2><span class="la la-truck"></span><span>Check Service Cargo</span></h2>
    </div>
    <div class="sidebar-menu">
      <ul>
        <li>
          <a href="" class="active"><span class="fa-solid fa-table-columns"></span>
            <span> DASHBOARD </span></a>
        </li>
        <li>
          <li class=""><a class="fa-solid fa-id-card" href="/static/html/cargo.html">Cargo</a></li>
          <li class=""><a class="fa-solid fa-folder-open" href="/static/html/manifiesto.html">Manifiesto</a></li>
          <li class=""><a class="fa-solid fa-users" href="/static/html/roles.html">Roles</a></li>
          <li class=""><a class="fa-solid fa-file" href="/static/html/tipoDocumento.html">Tipo Documento</a></li>
          <li class=""><a class="fa-solid fa-truck" href="/static/html/vehiculo.html">Vehiculo</a></li>
          <li class=""><a class="fa-solid fa-user" href="/static/html/usuario.html">Usuario</a></li>
          <li class=""><a class="fa-solid fa-user" href="/static/html/sesion.html">Login</a></li>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-content">
    <header>
      <h2>
        <label for="nav-toggle">
          <span class="fa fa-bars"></span>
        </label>
        MANTENIMIENTO USUARIO
      </h2>
    </header>
    <main>
      <h1 class="text-center mt-5 mb-5 text-primary">USUARIO</h1>
      <div class="container">
        <div class="card shadow">
          <div class="card-body">
            <form action="{{ url_for('agregar_usuario') }}" method="GET">
              <div class="row mb-3">
                <div class="col">
                  <label>Nombre de Usuario</label>
                  <input type="text" class="form-control mb-3" name="nombreusuario" />
                </div>
                <div class="col">
                  <label>Contraseña</label>
                  <input type="text" class="form-control mb-3" name="contrasena" />
                </div>
                <div class="col">
                  <label>Tipo de Documento</label>
                  <input type="text" class="form-control mb-3" name="tipodocumento" />
                </div>
                <div class="col">
                  <label>Documento</label>
                  <input type="text" class="form-control mb-3" name="documento" />
                </div>
                <div class="col">
                  <label>Nombres</label>
                  <input type="text" class="form-control mb-3" name="nombres" />
                </div>
                <div class="col">
                  <label>Apellidos</label>
                  <input type="text" class="form-control mb-3" name="apellidos" />
                </div>
                <div class="col">
                  <label>Correo</label>
                  <input type="text" class="form-control mb-3" name="correo" />
                </div>
                <div class="col">
                  <label>Teléfono</label>
                  <input type="text" class="form-control mb-3" name="telefono" />
                </div>
                <div class="col">
                  <label>Dirección</label>
                  <input type="text" class="form-control mb-3" name="direccion" />
                </div>
                <div class="col">
                  <label>Estado</label>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="estado" id="estado" />
                    <label class="form-check-label" for="estado">Activo</label>
                  </div>
                </div>
                <div class="col">
                  <label>Cargo</label>
                  <input type="text" class="form-control mb-3" name="cargoid" />
                </div>
                <div class="col">
                  <button class="btn btn-primary mb-3 mt-4" type="submit">Guardar</button>
                </div>
              </div>
            </form>
            <!-- Tabla -->
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre de Usuario</th>
                    <th scope="col">Contraseña</th>
                    <th scope="col">Tipo de Documento</th>
                    <th scope="col">Documento</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Cargo</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                  </tr>
                </thead>
                <tbody>
                  {% for u in data %}
                  <tr>
                    <td>{{u.usuarioid}}</td>
                    <td>{{u.nombreusuario}}</td>
                    <td>{{u.contrasena}}</td>
                    <td>{{u.tipodocumento}}</td>
                    <td>{{u.documento}}</td>
                    <td>{{u.nombres}}</td>
                    <td>{{u.apellidos}}</td>
                    <td>{{u.correo}}</td>
                    <td>{{u.telefono}}</td>
                    <td>{{u.direccion}}</td>
                    <td>{{u.estado}}</td>
                    <td>{{u.cargoid}}</td>
                    <td>
                      <button class="btn btn-primary btn-sm" id="btn-edit{{u.usuarioid}}" data-bs-toggle="modal"
                        data-bs-target="#modal{{u.usuarioid}}">
                        Editar
                      </button>
                    </td>
                    <td>
                      <a href="{{url_for('eliminar_usuario', usuarioid=u.usuarioid)}}"
                        class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                  </tr>
                  <!-- modal -->
                  <div class="modal fade" id="modal{{u.usuarioid}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">{{u.nombreusuario}}</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form action="/editar_cargo/{{u.usuarioid}}" method="post">
                            <label>Nombre Usuario</label>
                            <input type="text" class="form-control mb-3" name="nombreusuario" value="{{u.nombreusuario}}" />
                            <label>Contraseña</label>
                            <input type="text" class="form-control mb-3" name="contrasena" value="{{u.contrasena}}" />
                            <label>Nombre Usuario</label>
                            <input type="text" class="form-control mb-3" name="nombreusuario" value="{{u.nombreusuario}}" />
                            <label>Tipo de Documento</label>
                            <input type="text" class="form-control mb-3" name="tipodocumento" value="{{u.tipodocumento}}" />
                            <label>Documento</label>
                            <input type="text" class="form-control mb-3" name="documento" value="{{u.documento}}" />
                            <label>Nombres</label>
                            <input type="text" class="form-control mb-3" name="nombres" value="{{u.nombres}}" />
                            <label>Apellidos</label>
                            <input type="text" class="form-control mb-3" name="apellidos" value="{{u.apellidos}}" />
                            <label>Correo</label>
                            <input type="text" class="form-control mb-3" name="correo" value="{{u.correo}}" /> 
                            <label>Teléfono</label>
                            <input type="text" class="form-control mb-3" name="telefono" value="{{u.telefono}}" />
                            <label>Dirección</label>
                            <input type="text" class="form-control mb-3" name="direccion" value="{{u.direccion}}" /> 
                            <label>Cargo ID</label>
                            <input type="text" class="form-control mb-3" name="cargoid" value="{{u.cargoid}}" />                                                        
                            <label>Estado</label>
                            <div class="form-check">
                              <input type="checkbox" class="form-check-input" name="estado" id="estado{{u.usuarioid}}"
                                value="true" {% if u.estado %}checked{% endif %} />
                              <label class="form-check-label" for="estado{{u.usuarioid}}">Activo</label>
                            </div>
                            <div class="modal-footer">
                              <button type="submit" class="btn btn-primary">Guardar cambios</button>
                            </div>
                          </form>
                          <!-- Cierre del form -->
                        </div>
                        <!-- Cierre del modal-body -->
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>
</html>